obj
/Packages.dgml
jQuery.1.8.2
jQuery.UI.Combined.1.8.24
Microsoft.AspNet.Mvc.4.0.20710.0
Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.0
Microsoft.AspNet.Providers.Core.1.2
Microsoft.AspNet.Providers.LocalDB.1.1
Microsoft.AspNet.Web.Optimization.1.0.0
Microsoft.Web.Infrastructure.1.0.0.0
Modernizr.2.6.2
