/* Flat anchor button........................................................*/

.flatbutton {
	padding: 4px 10px 4px 10px;
    margin-right: 5px;
	font: 600 14px Arial, sans-serif;
	display: inline-block;
    min-width: 30px;
	text-align: center;
	cursor: pointer;
	color: #000;
	border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.flatbutton:active {
	padding: 5px 10px 3px 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6) inset;
    text-decoration: none;
    color: #000;
}

.graybtn {
	background-color: #808080;
}
	.graybtn:hover {
		background-color: #707070;
	}
.bluebtn {
	background-color: #6babba;
}
	.bluebtn:hover, .bluebtn:active {
		background-color: #64a0ad;
	}
.yellowbtn {
    background-color: #ff9966;
}
    .yellowbtn:hover, .yellowbtn:active {
        background-color: #cc7851;
    }

/* Dialog box................................................................*/

#dlgoverlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}
#dlgcontent {
    display: block;
    position: absolute;
    text-align: left;
	padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 4px 4px 8px;
}
    #dlgcontent.plaindlg {
        background-color: #fff;
        color: #000;
    }
    #dlgcontent.bluedlg {
        background-color: #bcd0ca;
        color: #595a5b;
    }
    #dlgcontent.yellowdlg {
        background-color: #ffcc66;
        color: #884455;
    }

#dlghead {
    display: block;
    font-weight: bold;
	padding: 5px;
    margin-bottom: 10px;
	cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
    #dlghead.plaindlghead {
        background: linear-gradient(to right, #808080, #808080, #808080, #fff);
        color: #fff;
    }
    #dlghead.bluedlghead {
        background: linear-gradient(to right, #6babba, #6babba, #6babba, #bcd0ca);
        color: #fffbdf;
    }
    #dlghead.yellowdlghead {
        background: linear-gradient(to right, #884455, #884455, #884455, #ffcc66);
        color: #ff9966;
    }
#dlgbody {
    line-height: 1.2em;
    padding: 5px;
    position: relative;
    display: inline-block;
}
#dlgbuttons {
	padding: 5px;
    margin-top: 8px;
}
    #dlgbuttons a {
        min-width: 40px;
    }

/* Photo info popup..........................................................*/

.photoblurb {
    display: none;
	position: absolute;
    line-height: normal;
    text-justify: auto;
    text-align: justify;
    width: 400px;
    padding: 30px 22px 5px 20px;
    font: 1em Georgia, serif;
	background-color: rgba(255, 231, 196, 0.7);
    color: #000;
    border-radius: 15px;
}
.photocredit {
	text-align: center;
    font-style: italic;
    font-size: .85em;
}
.closex {
	position: absolute;
	top: -3px;
	right: 7px;
	font: 800 1.8em Arial, sans-serif;
	cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
	.closex:hover, .closex:active {
		color: #ff2b00;
	}

/* Nav bar...................................................................*/

#nav {
	position: absolute;
	width: 200px;
	overflow: hidden;
	text-align: left;
	vertical-align: top;
	padding: 15px;
	background-color: #ff2b00;
	opacity: 0.7;
}
    #nav li {
        padding: 5px;
    }
    #nav a {
        color: #dbc6a8;
	    text-decoration: none;
    }
    #nav a:hover, a:active {
	    color: #fff;
    }
.navheading {
    font: bold 1.4em Arial;
}
.navsubheading {
    font: bold 1.2em Arial;
    padding-left: 20px;
}
.ui-icon {
    background-image: url(/content/themes/images/ui-icons_ffffff_256x240.png) !important;
}
.expandable {
    display: none;
}

/* Tabs......................................................................*/

.tablistitem {
    font: bold 1.2em Arial, sans-serif;
    display: inline-block;
    color: #707070;
    cursor: pointer;
    padding: 5px 15px 8px 15px;
}
    .tablistitem:hover {
        color: #909090;
    }
    .tablistitem.tabshown {
        color: #fff;
        background-color: #202020;
    }
.tabpanel {
    color: #fff;
    padding: 20px;
    display: none;
    background: linear-gradient(to right, #202020, #202020, #000);
}
    .tabpanel.tabshown {
        display: block;
    }

/* List item state buttons...................................................*/

.listitem {
    display: inline-block;
    font: 600 1em Arial, sans-serif;
    text-align: left;
	padding: 5px;
    width: 98%;
	border-radius: 3px;
    background-color: #808080;
    color: #000;
    margin-bottom: 3px;
    cursor: pointer;
    overflow: hidden;
}
    .listitem.down
    {
        padding: 6px 5px 4px 5px;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.6) inset;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4), -1px -1px 3px rgba(255, 255, 255, 0.4);
    }
