@font-face {
    font-family: FetteEgyptienne;
    src: url("/content/fonts/fette___-webfont.eot");
    src: url("/content/fonts/fette___-webfont.eot?#iefix") format("embedded-opentype"),
         url("/content/fonts/fette___-webfont.woff") format("woff"),
         url("/content/fonts/fette___-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Teletype_1945_1985;
    src: url("/content/fonts/teletype1945-1985-webfont.eot");
    src: url("/content/fonts/teletype1945-1985-webfont.eot?#iefix") format("embedded-opentype"),
         url("/content/fonts/teletype1945-1985-webfont.woff") format("woff"),
         url("/content/fonts/teletype1945-1985-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Kaneiwa;
    src: url("/content/fonts/kna__-webfont.eot");
    src: url("/content/fonts/kna__-webfont.eot?#iefix") format("embedded-opentype"),
         url("/content/fonts/kna__-webfont.woff") format("woff"),
         url("/content/fonts/kna__-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0; 
}

body, html { height: 100%; font: normal 14px Arial, sans-serif; }

a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
a img { border: none; vertical-align: middle; }

ul { list-style-type: none; }

p {
    line-height: normal;
    padding-bottom: 1em;
}
	p.heading {
		color: #004a7f;
		font: bold 1.2em Arial, sans-serif;
		padding-top: 20px;
	}

	p.subheading {
		color: #004a7f;
		font: bold 1em Arial, sans-serif;
	}

input[type="text"], input[type="password"] {
    display: inline;
    font: bold 1em Arial, sans-serif;
    padding: 2px;
    margin-right: 2px;
    border-top: 1px solid #202020;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
	border-left: 1px solid #202020;
    background-color: rgba(128, 128, 128, 1.0);
    color: #000;
}

td, th {
    text-align: left;
    padding: 5px;
}
    td a, td input {
        vertical-align: middle;
    }
    td.right, th.right {
	    text-align: right;
    }
th {
    border-bottom: 1px solid #fff;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.mi-tooltip {
    font: 500 .85em Arial, sans-serif !important;
    padding: 3px 5px !important;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 4px !important;
}

.floatingdiv {
    text-align: left;
    position: absolute;
	background-color: #000;
    opacity: 0.8;
    color: rgba(255, 255, 255, 1.0);
    padding: 5px;
	font: 1em Arial, sans-serif;
}

.floattable {
    width: 100%;
    padding: 0 15px 25px 15px;
}

.floathead {
    cursor: move;
    background: linear-gradient(to right, #202020, #202020, #202020, #000);
    height: 25px;
    margin-bottom: 5px;
}

.floatright {
	float: right;
	clear: left;
}

.floatleft {
	float: left;
	clear: right;
	margin: 10px 15px;
}

.orange {
	color: #ff2b00;
    opacity: 0.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pagecaption {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
    font-weight: 800;
}
    .pagecaption img {
        margin-right: 7px;
    }
    .pagecaption .shrinkit {
        font-size: .65em;
        font-weight: 600;
    }

#phase {
    cursor: pointer;
}

.ijnred {
    color: #a01000;
}

.usnblue {
    color: #004a7f;
}

.i {
	font-style: italic;
}

.logonlinks {
    color: #fff;
}
    .logonlinks:hover, .logonlinks:active {
        color: #ff2b00;
        background-color: transparent;
    }

._1964  {
    text-shadow: 2px 2px 3px #fff, -2px -2px 3px #fff;   
}

.ltextwrap {
    float: left;
    margin: .5em 1em .5em 0;
}

.rtextwrap {
    float: right;
    margin: .5em 0 .5em 1em;
}

.longbutton {
    width: 70px;
    margin-top: 10px;
    border-bottom: 1px solid #202020;
    border-right: 1px solid #202020;
}

.shipitem {
    position: relative;
    cursor: pointer;
	padding: 4px;
    margin-bottom: 4px;
}
    .shipitem:hover {
        background-color: #253549;
    }
    .shipitem.selected {
        background-color: #1f2c3d;
	    padding: 5px 3px 3px 5px;
		box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.6) inset;

    }
.numplanes {
	position: absolute;
	top: 29px;
	font-weight: 500;
	color: #fff;
	z-index: 5;
    font-size: .85em;
}
	.numplanes.torpedo {
		left: 186px;
	}
	.numplanes.fighter {
		left: 237px;
	}
	.numplanes.divebomber {
		left: 292px;
	}

.shiphits {
    position: absolute;
    left: 4px;
    top: 35px;
}
    .shiphits.green {
        z-index: 2;
    }
    .shiphits.red {
        z-index: 3;
    }

.listheader {
	margin: 5px;
	background-color: #516580;
	padding: 4px;
}

.searchitem {
    position: relative;
    cursor: pointer;
	padding: 5px;
    margin-bottom: 4px;
}
    .searchitem:hover {
        background-color: #253549;
    }

.oppsearchitem {
    cursor: pointer;
	min-height: 42px;
}
	.oppsearchitem td {
		overflow: hidden;
	}
    .oppsearchitem img {
        position: relative;
        margin: 0 -90px;
    }
    .oppsearchitem:hover {
        background-color: #253549;
    }
.searchmarker {
    position: absolute;
    z-index: 5;
    display: none; 
}

.cursorimg {
    cursor: none;
    position: absolute;
    z-index: 10;
    display: none;
}

.sightedlabel {
    vertical-align: middle;
}
.sightedship {
    padding: 5px;
    vertical-align: top;
}

#pagediv {
	width: 100%;
	height: 100%;
    text-align: center;
	background-repeat: no-repeat;
}

#pagetitle {
	position: absolute;
	top: 0;
	left: 20px;
	font: 800 6em Arial, sans-serif;
}

#welcome {
	text-align: left;
	position: absolute;
	top: 115px;
	left: 22px;
	font: bold 1.85em Arial, sans-serif;
	width: 715px;
}

#fronttitle {
    position: absolute;
	top: 0;
	left: 10px;
	font: 800 21em Arial, sans-serif;
	line-height: 260px;
	vertical-align: top;
}

#fronttiny {
    position: absolute;
	top: 255px;
	left: 30px;
	font: 800 1em Arial, sans-serif;
}

#frontdate {
	position: absolute;
	top: 275px;
	left: 30px;
	font: 5em FetteEgyptienne, "Latin wide", serif;
}

#infolink {
	position: absolute;
	cursor: pointer;
	display: inline;
	top: 10px;
	left: 1325px;
}

#logondiv {
    font-size: 1em;
    top: 380px;
    left: 700px;
	width: 400px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

#logofflink {
	position: absolute;
    display: inline;
    top: 18px;
	width: 75px;
	font: bold 1.2em Stencil, sans-serif;
    color: #004a7f;
}
    #logofflink:hover, #logofflink:active {
        color: #000;
        text-decoration: underline;
    }

#registerdiv {
    font-size: 1em;
    top: 195px;
    left: 400px;
	width: 400px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

#words {
	position: absolute;
	top: 277px;
    left: 229px;
	height: 559px;
	width: 1108px;
	padding: 0 30px 20px 20px;
	text-justify: auto;
	text-align: justify;
	font: 1.1em Georgia, serif;
	background-color: #ffe7c4;
	color: #000;
	overflow: auto;
}
    #words a {
        color: #004a7f;
    }
    #words a:hover, a:active {
        color: #000;
        text-decoration: underline;
    }

#homediv {
    font-size: 1em;
    left: 43px;
    width: 675px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

#optopponent {
	margin: 10px 0 10px 0;
	display: none;
    width: 98%;
}
	#optopponent input {
		font-weight: normal;
	    margin: 5px 0 5px 5px;
	    width: 250px;
	    vertical-align: middle;
	}
    #optopponent a {
        vertical-align: middle;
        width: 50px;
    }

#playgame, #quitgame, #btncancel {
    display: none;
}

#cancelreg {
    display: none;
}

#gameselect {
    padding: 20px;
}
#gameselectfoot {
    position: absolute;
    bottom: 20px;
}

#recordtable {
    margin: 20px;
    width: 90%;
    border-collapse: collapse;
}
    #recordtable td.name {
        width: 33%;
    }
    #recordtable td.number {
        width: 19%;
        border-right: 1px solid #fff;
        text-align: right;
    }

#oppselectdiv {
    position: absolute;
    display: none;
    background-color: #808080;
    color: #000;
}

#oppselect {
    font: 500 1em Arial, sans-serif;
}

#editreg input[type="text"], #editreg input[type="password"] {
    width: 300px;
}

#searchdiv {
    top: 60px;
    width: 400px;
    height: 737px;
    opacity: 1.0;
}
    #searchdiv .tabpanel {
        height: 670px;
        background: none;
        background-color: #2b3d55;
    }

#searchcanvas {
	position: absolute;
	top: 60px;
}

#done {
    opacity: 1.0;
}
    #done.disable {
        opacity: 0.5;
        cursor: default;
    }
#airreadiness
{
    margin-right: 20px;
}
    #airreadiness img {
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }
	#airreadiness.disable {
	    cursor: default;
	}
	#airreadiness.disable img {
	    border: none;
	}

#buttons {
    display: inline-block;
    float: right;
    height: 35px; 
    vertical-align: central; 
    margin: 22px 15px 0 0;
}
