<div id="fronttitle" class="orange">MIDWAY</div>
<div id="fronttiny" class="orange">SUSPICIOUSLY SIMILAR TO <span class="_1964">AVALON HILL'S 1964 NAVAL AIR</span> BATTLE GAME</div>
<div id="frontdate" class="orange">4 JUNE 1942, 0745</div>
<div id="infolink" title="Photo info"><img id="photoInfo" src="/content/images/camera.png" /></div>

<div id="logondiv" class="floatingdiv">
    <div class="floathead"></div>
    <table id="logontable" class="floattable">
        <tr>
            <td colspan="2">If you are registered, please log on.</td>
        </tr>
        <tr>
            <td class="right">Email</td>
            <td><input id="email" type="text" /></td>
        </tr>
        <tr>
            <td class="right">Password</td>
            <td><input id="pwd" type="password" /><a id="btngo" class="flatbutton graybtn">Go</a></td>
        </tr>
        <tr>
            <td />
            <td id="staytd"><input id="stay" type="checkbox"/> Keep me logged on</td>
        </tr>
        <tr>
            <td colspan="2"><a id="newpass" href="#" class="logonlinks">I've forgotten my password.</a></td>
        </tr>
        <tr><td colspan="2" style="height: 5px;" /></tr>
        <tr>
            <td colspan="2"><a id="register" href="#" class="logonlinks"> &rarr; I'd like to register.</a></td>
        </tr>
        <tr>
            <td colspan="2"><a id="wat" href="#" class="logonlinks"> &rarr; What is this?</a></td>
        </tr>
    </table>
</div>
<div class="photoblurb">
    <div class="closex">&times;</div>
    <p>
        USS <span class="i">Yorktown</span> (CV-5), the flagship of Rear Admiral Frank Fletcher&rsquo;s Task Force 17, photographed 
        under attack by planes from the Japanese aircraft carrier <span class="i">Hiryu&#772;</span> on the afternoon of 4 June 
        1942. She is hit on the port side amidships by a Japanese Type 91 aerial torpedo.
    </p>
    <p>
        Note very heavy anti-aircraft fire.
    </p>
    <p>
        <span class="i">Yorktown</span> is heeling to port and is seen at a different aspect than in other views taken from 
        USS <span class="i">Pensacola</span> (CA-24), indicating that this is the second of two torpedo hits that she received.
    </p>
    <p class="photocredit">
        U.S. Navy
    </p>
</div>
<script src="/scripts/scenes/logon.js"></script>