<div id="gamedesc" class="pagecaption"></div>
<div id="buttons">
    <a id="airreadiness" href="#" title="Aircraft readiness">
        <img id="readinessimg" src="/content/images/search/usn-airnotready.png" />
    </a>
    <a id="done" href="#" title="End phase and post"><img src="/content/images/done.png" /></a>
    <a id="return" href="#" title="Return to home page"><img src="/content/images/return.png" /></a>
</div>

<canvas id="searchcanvas">
    Canvas not supported!
</canvas>

<div id="searchdiv" class="floatingdiv">
    <div class="floathead"></div>
    <div id="searchtabs" class="tablist">
        <ul id="tabs"></ul>
    </div>
    <div id="tabpanels"></div>
</div>

<div id="imagecache" style="display: none;">
    <img id="ijnfleet" class="searchmarker" src="/content/images/search/ijnfleet.png" />
    <img id="ijnsighting" class="searchmarker" src="/content/images/search/ijnsighting.png" />
    <img id="usnfleet" class="searchmarker" src="/content/images/search/usnfleet.png" />
    <img id="usnsighting" class="searchmarker" src="/content/images/search/usnsighting.png" />   
</div>

<script src="/scripts/scenes/search.js"></script>
<script src="/scripts/scenes/searchgrid.js"></script>