<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>About Midway</title>
        <link rel="stylesheet" href="/content/midway.css" />
        <link rel="stylesheet" href="/content/themes/jquery-ui-1.10.3.css" />
        <style>
            #nav {
	            position: absolute;
	            left: 0;
	            top: 277px;
	            width: 197px;
	            height: 544px;
	            overflow: hidden;
	            text-align: left;
	            vertical-align: top;
	            padding: 15px;
	            background-color: #093a67;
	            opacity: 0.7;
            }
                #nav li {
                    padding: 5px;
                }
                #nav a {
                    color: #fff;
                }
                #nav a:hover, a:active {
                    text-decoration: underline;
                }

            .ui-icon {
	            display: none;
                background-image: url(/content/themes/images/ui-icons_ffffff_256x240.png) !important;
            }

            .expandable {
                display: none;
            }

            .navheading {
                font: bold 1.5em Arial, sans-serif;
            }

            .navsubheading {
                font: bold 1.3em Arial, sans-serif;
                padding-left: 20px;
            }

            p.heading {
	            color: #093a67;
	            font: bold 1.5em Arial, sans-serif;
	            padding-top: 20px;
            }

            p.subheading {
	            color: #093a67;
	            font: bold 1.2em Arial, sans-serif;
            }

            #pagediv {
                background-image: url(/content/images/head-about.jpg);
            }

            #pagetitle {
                top: 85px;
            }

            #welcome {
                top: 195px;
            }

            #words {
	            position: absolute;
	            top: 277px;
                left: 229px;
	            height: 554px;
	            width: 1108px;
	            padding: 0 30px 20px 20px;
	            text-justify: auto;
	            text-align: justify;
	            font: 1em Georgia, serif;
	            background-color: #f0f8ff;
	            color: #000;
	            overflow: auto;
            }
                #words a {
                    color: #a01000;
                }
                #words a:hover, a:active {
                    color: #000;
                    text-decoration: underline;
                }
            
            .ltextwrap {
                float: left;
                margin: .5em 1em .5em 0;
            }

            .rtextwrap {
                float: right;
                margin: .5em 0 .5em 1em;
            }
            
            .numberedhanging {
                padding-left: 40px;
                text-indent: -18px;
            }
        </style>
    </head>
    <body>
        <div id="pagediv">
            <div id="headdiv">
                <div id="linksdiv">
                    <a id="infolink" title="Photo info"><img src="/content/images/camera.png" /></a>
                    <a id="return" title="Back" onclick="history.back();"><img src="/content/images/return.png" /></a>
                </div>
                <div id="pagetitle"  class="orange">ABOUT MIDWAY</div>
                <div id="welcome" class="orange">Our game and the history it portrays.</div>
            </div>

            <div id="nav">
                <ul>
                    <li>
                        <a href="#" class="expander">
                            <span class="ui-icon ui-icon-plusthick" style="display: inline-block;"></span>
                        </a>
                        <a href="#game" class="navheading">The Game</a>
                        <ul class="expandable">
                            <li><a href="#registering" class="navsubheading">Registration</a></li>
                            <li><a href="#starting" class="navsubheading">Starting a Game</a></li>
                            <li><a href="#play" class="navsubheading">Game Play</a></li>
                            <li><a href="#victory" class="navsubheading">Victory</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="expander">
                            <span class="ui-icon ui-icon-plusthick" style="display: inline-block;"></span>
                        </a>
                        <a href="#battle" class="navheading">
                            The History
                        </a>
                        <ul class="expandable">
                            <li><a href="#background" class="navsubheading">Background</a></li>
                            <li><a href="#4june" class="navsubheading">4 June</a></li>
                            <li><a href="#winddown" class="navsubheading">Winding Down</a></li>
                            <li><a href="#aftermath" class="navsubheading">Aftermath</a></li>
                        </ul>
                    </li>
                    <li><a href="#credits" class="navheading" style="margin-left: 1em;">Credits</a></li>
                    <li><a href="#contact" class="navheading" style="margin-left: 1em;">Contact Us</a></li>
                </ul>
            </div>

            <div id="words">
                <p id="game" class="heading">
                    The Game
                </p>
                <p>
                    Midway is is a two-player, turn-based, double-blind World War II historical simulation wargame. A simple one, as 
                    these things go. It's based on a landmark battle that occurred in early June, 1942 
                    between forces of the United States Navy (USN) Pacific Fleet and the Imperial Japanese Navy (IJN) Combined 
                    Fleet. It will give players an idea of the challenges that faced the commanders of the opposing fleets 
                    but without so much detail that it is difficult to learn to play. This is a balancing act that results in some 
                    historical elements being overlooked&mdash;for example, destroyers and submarines have been left out of the game.
                </p>
                <p>
                    The game system is not particularly original; it's been tweaked, but veteran board wargamers will recognize 
                    it immediately.
                </p>
                    <div class="ltextwrap">
                        <img src="/content/images/midway_atoll.jpg" />
                        <div class="photocredit">
                            Midway Atoll in November 1941
                        </div>
                    </div>
                <p>
                    Each player takes a side: Japan&rsquo;s forces commanded by Admiral Isoroku Yamamoto, or those of the United 
                    States under the command of Admiral Chester Nimitz. Players direct the movement and combat of the 
                    ships and aircraft actually present for the battle (except, of course, those destroyers and submarines mentioned 
                    above).
                </p>
                <p>
                    At first glance, the game might appear to be a sophisticated version of Battleship, and that&rsquo;s not far 
                    wrong. Most of the game is played on a map of the central Pacific around Midway Atoll on which each player 
                    sees only their own ships and aircraft. The map has a square grid (about 20 miles to a side) that&rsquo;s 
                    used to control movement and determine range. Players have a limited number of searches available each turn 
                    that they use by selecting grid locations. When enemy ships are located, only their types&mdash;battleship, 
                    aircraft carrier, light aircraft carrier, cruiser or light cruiser&mdash;are revealed. No infomation on the 
                    number of each type present is given, nor anything about any specific ship.
                </p>
                <p>
                    Beginning at 0500 on 3 June 1942, the game is played in turns representing two hours in daylight and five hours 
                    at night. Time runs out 34 turns later at 1700 on 6 June. The game ends when this last turn is completed or 
                    when either player chooses to retire. The winner is determined by points given for control of Midway Atoll and 
                    the destruction of enemy ships.
                </p>
                <p>
                    Each turn is divided into phases in which players move their ships, search for their opponent, and plan and 
                    execute combat. Combat is of two types: air or surface. Usually it&rsquo;s air operations attack missions: sending 
                    aircraft that are available and in range to attack a grid square containing enemy ships. Ship-to-ship surface 
                    combat can occur when ships of both players wind up sharing one square on the map grid, but this is unusual 
                    (and never happened during the actual battle).
                </p>
                <p id="starting" class="subheading">
                    Starting a Game
                </p>
                <p>
                    On the Home page, players are presented with a list of the games that they are participating in. Select one 
                    and press the Play button to pick it up where it was left off.
                </p>
                <p>
                    To start a new game, select the &ldquo;New Game&rdquo; entry for the side you&rsquo;d like to play. If there's 
                    a specific opponent you&rsquo;r looking for, enter their nickname in the &ldquo;Optional opponent nickname&rdquo; 
                    text box. If you don&rsquo;t enter a nickname, the first player seeking a new game on the other side will become 
                    your opponent. Click on the Play button to create the game and begin play. Once a new game is created, it is 
                    added to the list of available games and will appear there until completed.
                </p>
                <p>
                    Press the Play button and you&rsquo;ll arrive on the Search Map.
                </p>
                <p id="play" class="subheading">
                    Game Play
                </p>
                <p>
                    Midway is played in turns, and each turn consists of a series of phases with specific actions taken by each 
                    player. These phases are:
                </p>
                <p>
                    <span style="font-weight: bold;">1. Movement</span><br />
                    In this phase there are three things to do: bring newly-arrived ships into the game, move ships, and make 
                    aircraft ready for use. Do these in any order you choose.
                </p>
                <p>
                    The USN player gets all the ships he or she will ever have on the first turn; the IJN player receives 
                    reinforcing ships on 5 different turns during the game. New arrivals are displayed on the Arrivals tab. Click 
                    to select one or more, then click on one of the highlighted squares (aka &ldquo;zones&rdquo;) on the 
                    map edge&mdash;west (left) for the IJN player and east (right) for the USN&mdash;to place them there.
                </p> 
                <p>
                    There is no limit to the number of ships that may occupy one zone. It is smart to keep your ships together in one 
                    or more groups; combat will demonstrate that your valuable aircraft carriers won&rsquo;t last long 
                    unless supported by other ships.
                </p>
                <p>
                    Ships on the map, including new arrivals, can be moved up to two zones (six for the USN player on the first 
                    turn). To move ships, select the zone they&rsquo;re in, select them on the Zone tab, then click on any highlighted 
                    zone to move them there. If you double-click on a zone, all your ships in that zone will be automatically selected. 
                </p>
                <p>
                    Movement is optional, but new arrivals <span class="i">must</span> be placed on the map.
                </p>
                <p>
                    If you wish, you may move your ships off the map: USN player via the east (right) map edge; IJN player off of 
                    the north (top), west (left) or south (bottom) edges. Ships moved off the map cannot return to the game.
                </p>
                <p>
                    Make your aircraft ready for use by clicking on the zone containing your aircraft carrier(s) or airbase (Midway),
                    then clicking on the ready state icon <img src="/content/images/search/ready-0.png" /> on the aircraft carrier or 
                    airbase in the zone tab&rsquo;s list. Aircraft in a &ldquo;not ready&rdquo; state (below the flight deck, shown) 
                    will become &ldquo;readying,&rdquo; and in the following turn will be ready for use. If you click on a ship&rsquo;s
                    &ldquo;readying&rdquo; or &ldquo;ready&rdquo; icon, you will knock it back to &ldquo;not ready.&rdquo; Your
                    opponent is informed in the next phase when you ready or de-ready aircraft. Ships with readying or ready aircraft 
                    aboard are more easily sunk (more on that later).
                </p>
                <p>
                    End the phase by clicking the check mark button on the page&ldquo;s upper right.
                </p>
                <p>
                    <span style="font-weight: bold;">2. Search</span><br />
                </p>
                <p id="victory" class="subheading">
                    Victory
                </p>
                <p>
                    During the game points are awarded to the players as follows:
                </p>
                <p class="numberedhanging">
                    1. Starting with the 19th turn (0500 5 June) the U.S. player gets one point for each turn in which Midway is not 
                    taken by the Japanese player, for a possible total of 15.
                </p>
                <div class="rtextwrap">
                    <img src="/content/images/pointssample.png" />
                    <div class="photocredit">
                        Sunk, Enterprise is worth 10 points to the IJN player
                    </div>
                </div>
                <p class="numberedhanging">
                    2. The Japanese player receives 15 points for taking Midway before the game ends.
                </p>
                <p class="numberedhanging">
                    3. Ships are assigned point values, and players receive them when they sink an opponent&rsquo;s ship. These point 
                    values are shown circled on ship images on the Search Map Arrivals and Zone tabs, and on the Battle Map.
                </p>
                <p>
                    When the game ends, the player with the most points has won!
                </p>
                <p id="battle" class="heading">
                    The History
                </p>
                <p id="background" class="subheading">
                    Background
                </p>
                <p>
                    On the morning of 4 June 1942, Imperial Japan was winning its war with the United States. By lunchtime, 
                    it wasn&rsquo;t.
                </p>
                <div class="rtextwrap">
                    <img src="/content/images/geacps.png" />
                    <div class="photocredit">
                        Imperial Japan, June 1942
                    </div>
                </div>
                <p>
                    The war began six months before on 7 December 1941 with a surprise Japanese attack on the U.S. Navy base 
                    at <a href="http://en.wikipedia.org/wiki/Attack_on_Pearl_Harbor" target="_blank">Pearl Harbor</a> on  
                    Oahu in the Hawaiian Islands. The Imperial Japanese Navy&rsquo;s First Air Fleet 
                    <a href="http://en.wikipedia.org/wiki/1st_Air_Fleet_(Imperial_Japanese_Navy)" target="_blank">
                    <span class="i">Kido Butai</span></a> put the U.S. Navy&rsquo;s Pacific Fleet battleline on the harbor bottom, 
                    announcing with convincing violence that a modern naval air arm trumped the traditional big-gun battleships 
                    of the world&rsquo;s navies. In one of those ironies that litter military history, this demonstration 
                    of the effectiveness of naval air power came while the U.S. fleet&rsquo;s carriers were safely away from Pearl.
                </p>
                <p>
                    While America scrambled to assemble men and mat&#233;riel to fight this war, Thailand, Malaya, Hong Kong, Guam, 
                    Wake Island and the Philippines fell to Japanese invaders. Imperial Japan now threatened Australia and had built 
                    up a strong protective screen for their 
                    <a href="http://en.wikipedia.org/wiki/Greater_East_Asia_Co-Prosperity_Sphere" target="_blank">
                    Greater East Asia Co-Prosperity Sphere</a>. Should Hawaii fall, the Pacific Ocean might as well 
                    be a Japanese lake.
                </p>
                <p>
                    Japanese soldiers, sailors and airmen came to believe themselves invincible. Much like today&rsquo;s radical 
                    <span class="i">mujahideen</span>, they believed that Americans were spoiled and weak and lacked the will to 
                    fight.
                </p>
                <p>        
                    In April, a bright spot emerged for the U.S. and her allies. A Pacific Fleet task force, including 
                    one of the aircraft carriers that the Pearl Harbor attack missed, snuck close to the Japanese home islands 
                    and launched sixteen Army B-25 &ldquo;Mitchell&rdquo; medium bombers against Tokyo and other Japanese 
                    cities&mdash;the <a href="http://en.wikipedia.org/wiki/Doolittle_Raid" target="_blank">Doolittle Raid</a>. Little 
                    real damage was done, but the raid accomplished its primary goal of raising American morale at a time when it was 
                    at its lowest. More, it embarassed and enraged Japan&rsquo;s military leadership.
                </p>
                <p>
                    Imperial Navy Combined Fleet  
                    <a href="http://en.wikipedia.org/wiki/Isoroku_Yamamoto" target="_blank">Admiral Isoroku Yamamoto</a> 
                    knew he must complete the job begun at Pearl Harbor&mdash;he must finish off the U.S. Pacific Fleet by sinking 
                    its aircraft carriers. U.S. bombs falling in Tokyo, however ineffective,  gave him just what he needed to sell 
                    a plan to the Naval General Staff in Tokyo: attack the U.S. Naval Air Facility on tiny 
                    <a href="http://en.wikipedia.org/wiki/Midway_Atoll" target="_blank">Midway Atoll</a> 
                    at the northwestern end of the Hawaiian Islands chain, about two-thirds of the way from Tokyo to Honolulu. Surely 
                    this would force the Pacific Fleet&rsquo;s carriers at Pearl Harbor (about 1100 nautical miles from Midway) out 
                    into the open where they could be destroyed!
                </p>
                <p>
                    As the Imperial Navy planners worked out the details of Yamamoto&rsquo;s plan, a group of  
                    <a href="http://en.wikipedia.org/wiki/Station_HYPO" target="_blank">U.S. Navy codebreakers in Hawaii</a> began 
                    to decode Japanese radio traffic concerning an objective for early June called &ldquo;AF.&rdquo; Suspecting 
                    that this might refer to Midway, Pacific Fleet Commander in Chief  
                    <a href="http://en.wikipedia.org/wiki/Chester_W._Nimitz" target="_blank">Admiral Chester Nimitz</a> instructed 
                    the commander there to broadcast an uncoded message indicating that the base&rsquo;s water purifiers had failed. 
                    The Japanese took the bait: they radioed instructions to load additional desalination equipment for &ldquo;AF.&rdquo; 
                    Now Nimitz knew where and when the attack would come.
                </p>
                <p>
                    On 27 May, ships of Yamamoto&rsquo;s Combined Fleet steamed from port in Japan bound for Midway, led by
                    <span class="i">Kido Butai</span> with four large aircraft carriers and 229 warplanes. By 2 June, three 
                    carriers with about 234 aircraft and supporting ships of Nimitz&rsquo;s Pacific Fleet lay in wait about 350 
                    miles northwest of Midway.
                </p>
                <p id="4june" class="subheading">
                    4 June
                </p>
                <p>
        
                </p>
                <p id="winddown" class="subheading">
                    Winding Down
                </p>
                <p>
        
                </p>
                <p id="aftermath" class="subheading">
                    Aftermath
                </p>
                <p id="credits"class="heading">
                    Credits
                </p>
                <p>
                    Many thanks to all in the world of open source and specifically to the following folks for allowing us to leverage 
                    their work:
                </p>
                <ul style="list-style-type: circle; margin-left: 2em;">
                    <li>
                        The crowd at <a href="http://stackoverflow.com" target ="_blank">Stack Overflow</a> without whom any kind of 
                        software development would be a lot harder.
                    </li>
                    <li>
                        <a href="http://github.com" target="_blank">GitHub</a>, a free source code control solution that shouldn&rsquo;t be. 
                        Free, I mean. Why, the source for this very game can be found 
                        <a href="https://github.com/the-spiller/Midway" target="_blank">there</a>!
                    </li>
                    <li>
                        The <a href="http://jquery.com" target="_blank">JQuery</a> and 
                        <a href="https://jqueryui.com" target="_blank">JQuery UI</a> teams and their fabulously useful javascript libraries.
                    </li>
                    <li>
                        James Simpson and <a href="http://goldfirestudios.com/" target="_blank">GoldFire Studios, Inc.</a> for their 
                        simple and effective modern javascript audio library <a href="https://github.com/goldfire/howler.js/">howler.js</a>.
                    </li>
                    <li>
                        Glen Chiacchieri&rsquo;s <a href="http://glench.github.io/fuzzyset.js/">fuzzyset.js</a>, a cool, small, quick string 
                        matching class.
                    </li>
                    <li>
                        music and sfx
                        sounddogs (sfx)
                        soundcloud 
                        newgrounds (music)
                        ccmixter.org (music)
                    </li>
                </ul><br />
                <p>
                    If you believe that we are in violation of any copyright, please let us know and we&rsquo;ll make it right.
                </p>
                <p id="contact"class="heading">
                    Contact Us
                </p>
                <p>
                    Questions, suggestions, any kind of feedback&mdash;send email to 
                    <a href="mailto:jeff@jeffcahill.net">jeff@jeffcahill.net</a>. Thanks!
                </p>
            </div>
            <div class="photoblurb">
                <p>
                    A Douglas SBD &ldquo;Dauntless&rdquo; dive bomber attempts a landing aboard the aircraft 
                    carrier USS <span class="i">Hornet</span> (CV-8) on 4 June 1942 during the Battle of Midway. 
                    Note the LSO (landing signal officer) ducking away from the aircraft&rsquo;s landing gear.
                </p>
                <p>
                    The destroyer in near background is trailing <span class="i">Hornet</span> in plane guard position.
                </p>
                <p class="photocredit">
                    Photo: U.S. Navy
                </p>
            </div>
        </div>

        <div id="dlgoverlay">
            <div id="dlgcontent">
                <div id="dlghead"></div>
                <div id="dlgbody"></div>
                <div id="dlgbuttons"></div>
            </div>
        </div>

        <script src="/scripts/vendor/jquery-1.9.1.js"></script>
        <script src="/scripts/vendor/jquery-ui-1.10.3.js"></script>
        <script src="/scripts/utils.js"></script>
        <script src="/scripts/midway.js"></script>
        <script src="/scripts/pages/about.js"></script>
    </body>
</html>
