<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Midway Search</title>
        <link rel="stylesheet" href="/content/midway.css" />
        <link rel="stylesheet" href="/content/themes/jquery-ui-1.10.3.css" />
    </head>
    <body>
        <div id="pagediv">
            <div id="gamedesc" class="pagecaption"></div>
            <div id="buttons">
                <a id="airreadiness" href="#" title="Toggle aircraft readiness">
                    <img id="readinessimg" src="/content/images/search/usn-airnotready.png" />
                </a>
                <a id="done" href="#" title="End phase and post"><img src="/content/images/done.png" /></a>
                <a id="return" href="#" title="Return to home page"><img src="/content/images/return.png" /></a>
            </div>

            <canvas id="searchcanvas">
                Canvas not supported!
            </canvas>

            <div id="searchdiv" class="floatingdiv">
                <div class="floathead"></div>
                <div id="searchtabs" class="tablist">
                    <ul id="tabs"></ul>
                </div>
                <div id="tabpanels"></div>
            </div>

            <div id="imagecache">
                <img id="fleet" class="searchmarker" src="/content/images/search/usnfleet.png" />
                <img id="sighting" class="searchmarker" src="/content/images/search/ijnsighting.png" /> 
                <img id="airsearchcursor" class="cursorimg" src="/content/images/search/usn-airsearchcursor.png" /> 
                <img id="seasearchcursor" class="cursorimg" src="/content/images/search/usn-seasearchcursor.png" />  
            </div>
        </div>

        <div id="dlgoverlay">
            <div id="dlgcontent">
                <div id="dlghead"></div>
                <div id="dlgbody"></div>
                <div id="dlgbuttons"></div>
            </div>
        </div>

        <script src="/scripts/vendor/jquery-1.9.1.js"></script>
        <script src="/scripts/vendor/jquery-ui-1.10.3.js"></script>
        <script src="/scripts/utils.js"></script>
        <script src="/scripts/midway.js"></script>
        <script src="/scripts/pages/searchgrid.js"></script>
        <script src="/scripts/pages/search.js"></script>
    </body>
</html>
